*{
 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px; 
}
    
.header{
      text-align: center;
      height: 300px;
      padding: 12px;
    }

.Foto {
width: 190px;
height: 190px;
border-radius: 50%;
}

.redes{
list-style: none;
text-align: center;
padding: 0%;
}

.redes li {
display: inline-block;
margin: 5px;
}

.icon{
width: 15px;
height: 15px;
display: inline-block;
background-size: cover;
}

.gmail{
background-image: url(iconos/logotipo-de-gmail.png);
}
.facebook{
    background-image: url(iconos/facebook.png); }

.instagram{
     background-image: url(iconos/instagram.png);
        }

.about{
    padding: 10px;
}

.about h3{
    color: black;
    font-size: 16px;
    text-align: center;
}
.about p{
    color: black;
    font-size: 14px;
    text-align: center;
}

.imagen{
    position: absolute;
    margin: -45;
    width: 300px;
height: 300px;
}

body {
    background: rgb(3, 172, 158);
}

.home{
 display: flex;
}

