*{
    background-color: cornsilk;
}
header{
   
    position: relative;
}
.Log-Reg{
    position: relative;
    left: 90%;
    top: -180px;
}
#butLog{
    border-radius: 20px;
    width: 60px;
    height: 40px;

}


    