*{
    background-color: cornsilk;
}
header{
   
    position: relative;
}
.Log-Reg{
    position: relative;
    left: 90%;
    top: -180px;
}
#butLog{
    border-radius: 20px;
    width: 60px;
    height: 40px;

}
.Logo2{
    position: relative;
    top: 90px;
    left: 8%;

    
}
.sectLog{
    position: relative;
    top: -250px;
    left: 58%;
    
}
#log{
    position: relative;
    left: 25%;
    border-radius: 20px;
    width: 200px;
    height: 40px;
}
.butLog1{
    border-radius: 20px;
    width: 400px;
    height: 40px;
}
.o{
    position: relative;
    left: 48%;
}


    