*{
    background: rgb(3, 172, 158);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;  

    flex-wrap: "wrap"; 
}
form{
    position: absolute;
    height: 700px;
    width: 700px;
    text-align-last: center;
    left: 32%;
    top: 38%;
    z-index: 100;
}
.logor{
    height: 500px;
    width: 500px;
    position: absolute;
    top: -7%;
    left: 36.8%;
}
.logo{
    height: 550px;
    width: 550px;
    position: absolute;
    top: -7%;
    left: 35.5%;
}
.fondo{
    background: rgb(0, 104, 87);
    position: absolute;
    height: 1155px;
    width: 600px;
    left: -9%;
}
.fondo2{
    background: rgb(0, 104, 87);
    position: absolute;
    height: 1155px;
    width: 447px;
    left: 76.5%;
}
.casilla{
    position: absolute;
    top: 40%;
    left: 35%;
}
.btnregis{
    position: absolute;
    top: 56%;
    left: 30%;
}
.btingresar{
    position: absolute;
    top: 48%;
    left: 44%;
}
.correo{
    width: 680px;
    position: absolute;
    top: 10%;
}
.contraseña{
    width: 680px;
    position: absolute;
    top: 25%;
}

.logoi{
    height: 250px;
    width: 250px;
    position: absolute;
    top: -3%;
    left: 0%;
}
.barra{
    background: rgb(0, 104, 87);
    position: absolute;
    height: 894px;
    width: 1676px;
    left: 12.7%;
    top: 7%;
}
.btn-outline-secondary-i{
    height: 33px;
    width: 63px;
    position: absolute;
    left: 0%;
    top: 23%;
    font-size: 12px;
}
.form-control-i{
    height: 33px;
    width: 170px;
    position: absolute;
    left: 3.1%;
    top: 23%;
    font-size: 12px;
    text-align-last: center;
    border-radius: 4px;
    border: 2px;
    background: white;
}
.seccion1{
    position: absolute;
    top: 35%;
    left: 3.4%;
}
.seccion2{
    position: absolute;
    top: 50%;
    left: 4.3%;
}
.seccion3{
    position: absolute;
    top: 65%;
    left: 0.6%;
}
.seccion4{
    position: absolute;
    top: 80%;
    left: 1.9%;
}
.inicio{
    background: rgb(3, 172, 158);
    height: 50px;
    width: 1580px;
    position: absolute;
    left: 15%;
    top: 12%;
    border-radius: 4px;
}
.titulo{
    position: absolute;
    top: 12.2%;
    left: 44%;
}
.redes{
    background: rgb(3, 172, 158);
    height: 400px;
    width: 600px;
    position: absolute;
    left: 66.5%;
    top: 22%;
    border-radius: 4px;
}
.info{
    background: rgb(3, 172, 158);
    height: 250px;
    width: 900px;
    position: absolute;
    left: 15.5%;
    top: 70%;
    border-radius: 4px;
}
.noticias{
    background: rgb(3, 172, 158);
    height: 250px;
    width: 600px;
    position: absolute;
    left: 66.5%;
    top: 70%;
    border-radius: 4px;
}
.tituloredes{
    position: absolute;
    top: 23%;
    left: 73%;
}
.tituloinfo{
    position: absolute;
    top: 71%;
    left: 27%;
}
.titulonoticias{
    position: absolute;
    top: 71%;
    left: 75%;
}
.logofb{
    width: 40px;
    height: 40px;
    z-index: 100;
    position: absolute;
    top: 31%;
    left: 74%;
}
.logoins{
    width: 40px;
    height: 40px;
    z-index: 100;
    position: absolute;
    top: 43%;
    left: 74%;
}
.logotw{
    width: 40px;
    height: 40px;
    z-index: 100;
    position: absolute;
    top: 55%;
    left: 74%;
}
.seccionfb{
    width: 40px;
    height: 40px;
    z-index: 100;
    position: absolute;
    top: 31%;
    left: 79%;
}
.seccionins{
    width: 40px;
    height: 40px;
    z-index: 100;
    position: absolute;
    top: 43%;
    left: 79%;
}
.secciontw{
    width: 40px;
    height: 40px;
    z-index: 100;
    position: absolute;
    top: 55%;
    left: 79%;
}
.texto1info{
    z-index: 100;
    position: absolute;
    top: 78%;
    left: 67.7%;
    text-align-last: center;
}
.texto2info{
    z-index: 100;
    position: absolute;
    top: 55%;
    left: 79%;
    top: 86%;
    left: 69%;
    text-align-last: center;
}
.texto1noticias{
    z-index: 100;
    font-size: 22px;
    position: absolute;
    top: 78%;
    left: 15.8%;
    text-align-last: center;
}

.btninicio{
    width: 68px;
    height: 60px;
    z-index: 100;
    position: absolute;
    top: 1.7%;
    left: 92%;
    border-radius: 400px;
}
.btninicio2{
    width: 68px;
    height: 60px;
    z-index: 100;
    position: absolute;
    top: 1.7%;
    left: 92%;
    border-radius: 400px;
}
.btnis{
    position: absolute;
    top: 1.1%;
    left: 93%;
}
.btnr{
    position: absolute;
    top: 1.1%;
    left: 87%;
}
.btnperfil{
    position: absolute;
    top: 0.5%;
    left: 96%;
}

/*SUSCRIPCION PÁG*/
    *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
body{
background: url("https://cdn.discordapp.com/attachments/810139558750322693/898728630996332564/ac9e82e9-cae1-47a7-98f8-b92d008370f9.png");
background-attachment: fixed;
background-repeat: no-repeat;
background-position: 50% 50%;
background-color: transparent;
background-size: 1090px;
}
.container{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: 1100px;
    background-attachment: inherit;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    animation: slideUp 2000ms ease;

}

.card{
    width: 600px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(204, 204, 204, 0.39);
    overflow: hidden;
    margin: 30px;
}

.card-top{
    height: 50%;
    padding: 35px 35px 0px 35px;
    background-color: rgba(117, 117, 117, 0.747);
}

.card-top .titulo{
    font-size: 25px;
    margin: 10px 0px 15px 0px;
    color: rgb(12, 116, 116);
    text-align:center;

}

.card-top .subtitulo{
    font-size: 20px;
    color: rgb(156, 224, 77);
    font-weight: 600;
    margin-bottom: 12px;
}

.card-top p{
    color: rgb(233, 233, 233);
    line-height: 20px;
}


.card-bottom{
    display: flex;
    height: 50%;
}


.card-left{
    width: 50%;
    padding: 35px;
    background-color: rgba(102, 192, 170, 0.986);
}

.card-left h3{
    color: rgb(224, 224, 224);
    margin-bottom: 10px;
}

.card-left .precio{
    color: rgb(224, 224, 224);
    font-size: 30px;
    margin-bottom: 5px;
}

.card-left .precio span{
    color: rgb(211, 210, 210);
    font-size: 15px;
}

.card-left .promocion{
    color: rgb(224, 224, 224);
    font-size: 14px;
    margin-bottom: 30px;    
}

.card-left a{
    padding: 10px 80px;
    border-radius: 5px;
    background-color: rgb(146, 189, 6);
    color: rgb(224, 224, 224);
    font-weight: 600;
    box-shadow: 1px 1px 1px 1px rgba(110, 110, 110, 0.39);
}

@media (max-width: 650px){
    .card{
        width: 550px;
        height: 400px;
    }
    
    .card-left a{
        padding: 10px 60px;
    }
}

@media (max-width: 560px){
    .card{
        height: 90vh;
    }

    .card-top{
        height: 33vh;
        background-color: #fff;
    }

    .card-top .titulo{
        font-size: 23px;

    }
    
    .card-top .subtitulo{
        font-size: 18px;
    }

    .card-top p{
        font-size: 13px;
    }

    .card-bottom{
        display: flex;
        flex-wrap: wrap ;
    }
    
    .card-left{
        width: 100%;
        height: 30vh;
    }

    .card-right{
        width: 100%;
        height: 30vh;
    }

}

.card-right{
    width: 50%;
    padding: 35px;
    background-color: rgba(19, 153, 119, 0.986);
}

.card-right h3{
    color: rgb(224, 224, 224);
    margin-bottom: 10px;
}

.card-right .precio{
    color: rgb(224, 224, 224);
    font-size: 30px;
    margin-bottom: 5px;
}

.card-right .precio span{
    color: rgb(211, 210, 210);
    font-size: 15px;
}

.card-right .promocion{
    color: rgb(224, 224, 224);
    font-size: 14px;
    margin-bottom: 30px;    
}

.card-right a{
    padding: 10px 80px;
    border-radius: 5px;
    background-color: rgb(146, 189, 6);
    color: rgb(224, 224, 224);
    font-weight: 600;
    box-shadow: 1px 1px 1px 1px rgba(110, 110, 110, 0.39);
}

.volver a{
    padding: 10px 30px;
    border-radius: 5px;
    background-color: rgb(146, 189, 6);
    color: rgb(255, 255, 255);
    font-weight: 600;
    box-shadow: 1px 1px 1px 1px rgba(110, 110, 110, 0.39);
}

.wrapper {
    display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(102, 192, 170, 0.986);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 103vh;
    background-size: 1100px;
    background-attachment: inherit;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    animation: slideUp 2000ms ease;
}

@keyframes slideUp {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);

    }
}



h1 {
    align-self: center;
    font-size: 25px;
    margin: 10px 0px 15px 0px;
    color: rgb(12, 116, 116);
    text-align:center;
}

form {
    width: 100%;
    margin-top: 20px;
    }

    input {
        width: 100%;
        min-height: 25px;
        border: 0;
        font-size: 1rem;
        letter-spacing: .15rem;
        font-family: "Arimo";
        margin-top: 5px;
        color: rgb(0, 0, 0);
        border-radius: 4px;
    }

    label {
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px;
        color: rgb(255, 255, 255);
    }

    h1 {
        font-size: 24px;
        line-height: 10px;
        color: title;
        letter-spacing: 1px;
    }

    h1:nth-of-type(2) {
        margin-top: 10%;
    }


.name {
    justify-content: space-between;
    display: flex;
    width: 100%;

   
}

.address-info {
    display: flex;
    justify-content: space-between;
        width: 30%;
    
}

.cc-info {
    display: flex;
    justify-content: space-between;


        width: 45%;
    
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
    .btns button {
        margin: 3px 0;
        height: 30px;
        width: 40%;
        color: #cfc9e1;
        background-color: #4a3b76;
        text-transform: uppercase;
        border: 0;
        border-radius: .3rem;
        letter-spacing: 2px;
            animation-name: btn-hov;
            animation-duration: 550ms;
            animation-fill-mode: forwards;
        
    }


@keyframes btn-hov {
    100% {
        background-color: #cfc9e1;
        color: #4a3b76;
        transform: scale(1.05)
    }
}

input:focus,
button:focus {
    outline: none;
}

@media (max-width: 736px) {
    .wrapper {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: 1100px;
    background-attachment: inherit;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    
}

    .container2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: 1100px;
    background-attachment: inherit;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    
}

    .btns {
        align-items: center;
    }
        .btns button {
            width: 50%;
        }
}


    .name,
    .address-info,
    .cc-info,
    .cc-info div,
    .street,
    .cc-num {
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }


    input {
        margin: 5px 0;
        min-height: 30px;
    }
    .btns a{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgb(146, 189, 6);
    color: rgb(255, 255, 255);
    font-weight: 600;
    box-shadow: 1px 1px 1px 1px rgba(110, 110, 110, 0.39);
}

.logohomep{
    width: 40px;
    height: 40px;
    z-index: 100;
    position: absolute;
    top: 1.2%;
    left: 96%;
    border-radius: 400px;
}
